/* your styles go here */

.project-img {
    max-width: 300px;
    max-height: 100px;
    object-fit: contain;
}

img[alt=starwars-pinball] {
    max-width: 1024px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt=home-office-build] {
    max-width: 1024px;
}
